# Plotly
Разбор статьи: https://python.ivan-shamaev.ru/interactive-data-visualization-in-python-3/

In [10]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [11]:
# Standard plotly imports
import plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
# Using plotly + cufflinks in offline mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

# Data science imports
import pandas as pd
import numpy as np

In [12]:
df = pd.read_parquet('medium_data_2019_01_06')
df.head()

     claps  days_since_publication  ...  <tag>Machine Learning  <tag>Python
121      2              574.742788  ...                      0            0
122     18              567.424835  ...                      0            0
123     50              554.804959  ...                      1            1
119      0              553.962351  ...                      0            0
116      0              549.974700  ...                      0            0

[5 rows x 24 columns]

In [ ]:
df['claps'].iplot(kind='hist', xTitle='claps',
                  yTitle='count', title='Claps Distribution')
py.offline.plot()